@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
html,
body {
    min-height: 100%;
    color: #4e4e4e !important;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: "Kanit", sans-serif !important;
    /* margin-bottom: 10px; */
    background: #b9f1ff !important;
    /* background: -webkit-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: -o-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: -moz-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: linear-gradient(180deg, #b4c4ff, #b9f1ff); */
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    font-family: "Kanit", sans-serif !important;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #b9b9b975;
    border-radius: 25px;
}

html::-webkit-scrollbar-thumb {
    background-color: #5f5f5f9f;
    border-radius: 25px;
}

button {
    font-family: "Kanit", sans-serif !important;
}

p {
    margin: 0;
}

main {
    min-height: 100vh;
    background-color: #b9f1ff;
    background: -webkit-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: -o-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: -moz-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: linear-gradient(180deg, #b4c4ff, #b9f1ff);
}

.bg-web {
    background-color: #b9f1ff;
    background: -webkit-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: -o-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: -moz-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: linear-gradient(180deg, #b4c4ff, #b9f1ff);
}

.fa-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.input-bg div {
    background-color: #fff;
}

.btn-main {
    background: #8bb3fc;
    background: -webkit-linear-gradient(140deg, #8bb3fc, #86ccfc);
    background: -o-linear-gradient(140deg, #8bb3fc, #86ccfc);
    background: -moz-linear-gradient(140deg, #8bb3fc, #86ccfc);
    background: linear-gradient(140deg, #8bb3fc, #86ccfc);
    color: #fff !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.bg-web {
    background: #b4c4ff;
    background: -webkit-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: -o-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: -moz-linear-gradient(180deg, #b4c4ff, #b9f1ff);
    background: linear-gradient(180deg, #b4c4ff, #b9f1ff);
}

.ajax-loader {
    position: absolute;
    top: -50px;
    left: 122px;
    /* transform-origin: 50% 50%; */
    transform: rotate(90deg) translate(-50%, 0%);
    font-size: 50px;
    width: 110px;
    height: 320px;
    color: #ffffff;
}

.ajax-loader .paw {
    width: 1em;
    height: 1em;
    animation: 2050ms pawAnimation ease-in-out infinite;
    opacity: 0;
}

.ajax-loader .paw svg {
    width: 100%;
    height: 100%;
}

.ajax-loader .paw .icon {
    fill: currentColor;
}

.ajax-loader .paw:nth-child(odd) {
    transform: rotate(-10deg);
}

.ajax-loader .paw:nth-child(even) {
    transform: rotate(10deg) translate(125%, 0);
}

.ajax-loader .paw:nth-child(1) {
    animation-delay: 1.25s;
}

.ajax-loader .paw:nth-child(2) {
    animation-delay: 1s;
}

.ajax-loader .paw:nth-child(3) {
    animation-delay: 0.75s;
}

.ajax-loader .paw:nth-child(4) {
    animation-delay: 0.5s;
}

.ajax-loader .paw:nth-child(5) {
    animation-delay: 0.25s;
}

.ajax-loader .paw:nth-child(6) {
    animation-delay: 0s;
}

.no-cssanimations .ajax-loader .paw {
    opacity: 1;
}

@keyframes pawAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.select-none {
    user-select: none;
}

a {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.logo {
    width: 0%;
    position: relative;
    animation: example 3s ease-in-out 0s;
}

@keyframes example {
    0% {
        width: 0%;
        opacity: 0;
        transform: rotate(0deg);
    }
    30% {
        width: 135px;
        opacity: 1;
        transform: rotate(360deg);
    }
    70% {
        width: 135px;
        opacity: 1;
        transform: rotate(360deg);
    }
    100% {
        width: 0%;
        opacity: 0;
        transform: rotate(0deg);
    }
}