@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: "Kanit", sans-serif !important;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

main {
    /* margin-bottom: 10px; */
}

.app-bar {
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid rgb(228, 228, 228);
    color: #616060;
    max-height: 64px;
    user-select: none;
}

.btn-app-bar {
    border: 1px solid #e5e8ec;
    border-radius: 9px;
    color: #7a7a7a;
    min-width: 39px;
    min-height: 39px;
    background: #fff;
}

.btn-app-bar>svg {
    font-size: 1.3rem;
}