.appBar {
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid rgb(228, 228, 228);
    color: #616060;
    max-height: 64px;
    user-select: none;
}

.btnAppBar {
    border: 1px solid #e5e8ec;
    border-radius: 9px;
    color: #7a7a7a;
    min-width: 39px;
    min-height: 39px;
    background: #fff;
}

.menuAppBar div {
    border-radius: 9px;
}

.btnLogin {
    color: #7a7a7a;
    padding-left: 15px;
    padding-right: 15px;
}

.btnLanguage {
    color: #7a7a7a;
}

.btnAppBar svg {
    font-size: 1.3rem;
}

.drawer {
    width: 240px;
    min-width: 240px;
}

.drawer>div {
    min-width: 240px;
}